# Please do not directly edit this file. Instead, modify the .env variables related to NGINX configuration.

server {
    listen ${NGINX_PORT};
    server_name ${NGINX_SERVER_NAME};

    # Redirect all HTTP requests to HTTPS
    return 301 https://__HOST____REQUEST_URI__;
}

# placeholder for https config defined in https.conf.template
${HTTPS_CONFIG}
